body {

  background-color: rgb(8, 7, 42);
    
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#fffcf7, #333,#c87272 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    


}