<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> My Digital Gardening</title>
  <link rel="javascript" href="style.js">
  <link rel="stylesheet" href="style.css">
  <link rel="html" href="sprint1.html">
  <link rel="html" href="sprint2.html">
  <link rel="html" href="sprint3.html">
  <link rel="html" href="sprint4.html">
  <link rel="html" href="sprint5">
  <link rel="html" href="sprint6.html">
  <link rel="html" href="iloveweb.html">
</head>
<body>

   

<!-- Header Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header id="header">
    <div class="title">
      <div><span class="typcn typcn-heart-outline icon heading"></span></div>
      <div class="smallsep heading"></div>
      <h1 class="heading"> Fatima's Digital Gardening</h1>
      <h2 class="heading"> & learning log</h2>
      <a class="smoothscroll" href="#about">
      <div class="mouse">
        <div class="wheel"></div>
      </div>
      </a> </div>
    <a class="smoothscroll" href="#about">
    <div class="scroll-down"></div>
    </a> </header>
    
  <!-- Sprint Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
    
  
  <section id="about">
    <div class="container"> 
      <div class="row">
        <h1>SPRINTS</h1>
        <div class="block"></div>
        <p> Hierin vindt je mijn learning log & i love web lezingen!
      <div class="row">
        <div class="six columns" id="sprint1">
          <h3><a href="sprint1.html"><span class="typcn typcn-device-desktop icon"></span>Sprint 1</a></h3>
          <p>Weten wat ik geleerd heb in sprint 1? Klik hier!</p>
        </div>
        <div class="six columns" id="sprint2">
          <h3><a href="sprint2.html"><span class="typcn typcn-pen icon"></span>Sprint 2</a></h3>
          <p>Weten wat ik geleerd heb in sprint 2? Klik hier!</p>
        </div>
        <div class="row">
          <div class="six columns" id="sprint3">
            <h3><a href="sprint3.html"><span class="typcn typcn-cog-outline icon"></span>Sprint 3</a></h3>
            <p>Weten wat ik geleerd heb in sprint 3? Klik hier!</p>
          </div>
          <div class="six columns" id="sprint4">
            <h3><a href="sprint4.html"><span class="typcn typcn-lightbulb icon"></span>Sprint 4</a></h3>
            <p>Weten wat ik geleerd heb in sprint 4? Klik hier!</p>
          </div>
          <div class="six columns" id="sprint5">
            <h3><a href="sprint5.html"><span class="typcn typcn-lightbulb icon"></span>Sprint 5</a></h3>
            <p>Weten wat ik geleerd heb in sprint 5? Klik hier!</p>
          </div>
          <div class="six columns" id="sprint6">
            <h3><a href="sprint6.html"><span class="typcn typcn-lightbulb icon"></span>Sprint 6</a></h3>
            <p>Weten wat ik geleerd heb in sprint 6? Klik hier!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer>
    <div class="button">
      <a href="iloveweb.html" target="_blank" class="blog-button" aria-label="mijn i love web"> I love WEB</a>
    </div>
  </footer>
  
  
